{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!-- Enlace para compartir la página -->
<div style="margin-bottom: 20px;">
    <span>Compartir esta página:</span>
    <a href="https://wa.me/?text={{ request.url_root }}" target="_blank">WhatsApp</a> |
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url_root }}" target="_blank">Facebook</a>
</div>
{% if not session.get('user_id') %}
    <h1>Bienvenido a Service Market</h1>
{% else %}
    <hr>
    {% for producto in productos %}
        <div>
            <h2>
                <a href="{{ url_for('producto', producto_id=producto.id) }}">{{ producto.nombre }}</a>
            </h2>
            <p>{{ producto.descripcion }}</p>
            {% if producto.imagenes %}
                {% for imagen in producto.imagenes %}
                    <img src="{{ url_for('static', filename='uploads/' ~ imagen.archivo) }}" width="200">
                {% endfor %}
            {% endif %}
            <p><strong>Precio:</strong> {{ producto.precio }}</p>
        </div>
        <hr>
    {% endfor %}
{% endif %}
{% endblock %}