<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends "layout.html" %}

    {% block title %}Registrar usuario{% endblock %}

    {% block content %}
    <h1>Registrar usuario</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="ubicacion">Ubicación:</label>
        <input type="text" id="ubicacion" name="ubicacion"><br>
        <label for="foto">Foto de perfil:</label>
        <input type="file" id="foto" name="foto" accept="image/*"><br>
        <input type="submit" value="Registrar usuario">
    </form>
    <p>¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Iniciar sesión</a></p>
    {% endblock %}
</body>
</html>
